@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-deepBlue: #002854;
  --text-gray: #5a7184;
  --btn-bg-secondary: #faad13;
  --btn-bg-primary: #3e9bf3;
  --fonts-poppins: "Poppins", sans-serif;
  --fonts-roboto: "Roboto", sans-serif;
}

/* Default css */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fonts-poppins);
  text-transform: capitalize;
  font-weight: 500;
  margin-top: 0px;
}

p {
  font-family: var(--fonts-roboto);
  margin-top: 0px;
  font-size: 16px;
}
a {
  text-decoration: none !important;
}
li {
  list-style: none;
}

.custom_btn {
  padding: 12px 34px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--fonts-poppins);
  color: #fff;
  text-transform: capitalize;
  text-align: center;
}
.bg_1 {
  background: var(--btn-bg-primary);
  border-radius: 5px;
}

.title {
  color: #002854;
  /* h2 */
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

/* Header CSS Here */
header {
  background: transparent;
  position: absolute;
  left: 0;
  right: 0;
  padding: 33px 0;
  z-index: 999;
}
header .logo a {
  font-family: Roboto;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff !important;
}

.main-nav ul li {
  display: inline-block;
  padding-right: 1rem;
}

.main-nav ul li a {
  font-family: var(--fonts-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.4px;
  color: #fff;
}

/* Hero CSS */

.hero {
  background: url(../images/left-shape.png) top left,
    url(../images/right-shape.png) top right;
  background-repeat: no-repeat;
  background-color: var(--bg-deepBlue);
  height: 834px;
  width: 100%;
  position: relative;
}
.left-side h2 {
  color: #fff;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 133.333% */
  letter-spacing: 1.125px;
}
.left-side p {
  margin-top: 25px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  line-height: 32px; /* 177.778% */
  letter-spacing: 0.45px;
  margin-bottom: 25px;
}

.right-image {
  margin-top: 110px;
  position: relative;
  z-index: 1;
}

.shape {
  position: absolute;
}
.shape-1 {
  top: 13%;
  right: 0%;
  z-index: -2;
}
.shape-2 {
  bottom: -4%;
  z-index: -2;
}

/* counter CSS  */
#counter {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -45%;
}
.counter-main {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.05);
  padding: 28px 0;
}
.counter-content {
  position: relative;
}

.counter-main .col-xl-3:last-child .counter-content::after {
  display: none;
}

.counter-content::after {
  position: absolute;
  width: 1.5px;
  height: 62px;
  background: #7480b0;
  top: 0;
  right: 0;

  content: "";
}

.counter-content h2 {
  font-size: 35px;
  font-family: var(--fonts-poppins);
  font-weight: 700;
  color: var(--bg-deepBlue);
  margin-bottom: 0;
}
.counter-content p {
  margin-top: 0;
}

/* Our features */
#features {
  padding: 150px 0;
}

.features-title {
  margin-bottom: 40px;
}

.features-box {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.06);
  padding: 33px 20px;
}
.features-content h4 {
  color: var(--bg-deepBlue);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.features-content p {
  color: var(--text-gray);
  font-family: var(--fonts-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}

/* User Interface CSS */
.interface-bg {
  background: url(../images/user-inter-bg.png);
  background-repeat: no-repeat;
}

.interface-right p {
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 30px;
  color: var(--text-gray);
  padding: 23px 0;
}
